* {
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #fec824;
  --dark-color: #000;
  --light-color: #fff;
  --semi-light: #f7f7f7;
  --gray-color: #808080;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

section{padding: 80px 0;}

.container {
  width: 90%;
  margin: auto;
}

.general-section {
  width: 100%;
  padding: 50px 0px;
  position: relative;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.heading h1 {
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
  color: var(--dark-color);
}

.heading p {
  margin: 20px 0px 0px;
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-color);
}

.custom-btn {
  width: 170px;
  height: 46px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--primary-color);
}

.custom-btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-inline-end: 10px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(193deg) brightness(106%) contrast(101%);
}

.custom-btn::after,
.custom-btn::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color);
  top: 0;
  z-index: -1;
  transition: all .3s linear;
}

.custom-btn::after {
  left: 0;
}

.custom-btn::before {
  right: 0px;
}

.custom-btn span {
  color: var(--light-color);
  font-size: 15px;
  font-weight: 700;
}

.custom-btn:hover::after,
.custom-btn:hover::before {
  width: 0px;
}

.custom-btn:hover span {
  color: var(--primary-color);
}

.custom-btn:hover img {
  filter: invert(91%) sepia(23%) saturate(3470%) hue-rotate(337deg) brightness(104%) contrast(99%);
}

.navbar {
  width: 100%;
  padding: 10px 0px;
}

.navbar .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navbar .content .brand-name img {
  width: 150px;
  height: 70px;
  object-fit: contain;
  object-position: center;
}

.navbar .content .navbar-nav {
  display: flex;
}

.navbar .content .navbar-nav .nav-item {
  margin-inline-end: 20px;
}

.navbar .content .navbar-nav .nav-item:last-child {
  margin-inline-end: 0px;
}

.navbar .content .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-color);
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
}

.navbar .content .navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: var(--primary-color);
  border-radius: 50%;
  bottom: 0px;
  left: calc(50% - 7px);
  transform: scale(0);
  transition: transform .3s ease-out;
}

.navbar .content .navbar-nav .nav-item .nav-link.active::after,
.navbar .content .navbar-nav .nav-item .nav-link:hover::after {
  transform: scale(1);
}

.navbar .content .navbar-nav .nav-item .nav-link.active,
.navbar .content .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary-color);
}

header {
  width: 100%;
  padding: 50px 0px;
}

header .content {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

header .content .image-content, 
header .content .header-data {
  width: 48%;
}

header .content .image-content {
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

header .content .image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .content .header-data h1 {
  font-size: 50px;
  font-weight: 900;
  color: var(--dark-color);
}

header .content .header-data p {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 20px 0px;
}

header .content .header-data .form-contain {
  width: 100%;
  height: 60px;
}

header .content .header-data .form-contain .form-group {
  width: 100%;
  height: 100%;
  position: relative;
}

header .content .header-data .form-contain .form-group .form-control {
  width: 100%;
  height: 100%;
  background-color: var(--semi-light);
  border: 0px;
  border-radius: 20px;
  padding-inline-start: 30px;
  padding-inline-end: 190px;
}

header .content .header-data .form-contain .form-group .form-control::placeholder {
  color: var(--dark-color);
  font-size: 12px;
  font-weight: 700;
}

header .content .header-data .form-contain .form-group .custom-btn {
  position: absolute;
  right: 10px;
  top: calc(50% - 23px);
  z-index: 9;
}

.lastest-work .content {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lastest-work .content .box {
  width: 31%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.lastest-work .content .box .image-content {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.lastest-work .content .box .image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lastest-work .content .box .data-contain {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.lastest-work .content .box .data-contain h2 {
  font-size: 20px;
  font-weight: 900;
  color: var(--dark-color);
  margin-bottom: 20px;
}

.lastest-work .content .box .data-contain p {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

.lastest-work .button-contain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.client-say {
  background-color: var(--semi-light);
}

.client-say .client-content {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.client-say .box {
  width: 32%;
  padding: 30px 20px;
  background-color: var(--light-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 9;
  overflow: hidden;
  transition: all .3s linear;
}

.client-say .box::after,
.client-say .box::before {
  content: '';
  position: absolute;
  top: 0;
  transition: all .3s linear;
}

.client-say .box::after {
  width: 100%;
  height: 0%;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  z-index: -2;
}

.client-say .box::before {
  width: 100%;
  height: 100%;
  background: url('../images/icons/more.png') bottom right / contain no-repeat;
  z-index: -1;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
  opacity: .1;
  right: 0px;
  bottom: 0;
  transform: translateX(100%);
}

.client-say .box .image-content {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all .5s linear;
}

.client-say .box .image-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.client-say .box .content {
  width: 100%;
}

.client-say .box .content h2 {
  font-size: 20px;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.client-say .box .content span {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
}

.client-say .box .content p {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0px 0px;
}


.client-say .box:hover::after {
  height: 100%;
}

.client-say .box:hover::before {
  transform: translateX(0%);
}

.client-say .box:hover h2 ,
.client-say .box:hover p {
  color: var(--light-color);
}

.client-say .box:hover .image-content {
  transform: translateY(-10px);
}

.client-say .box:hover span {
  color: var(--semi-light);
}

.client-say .box:hover {
  transform: translateY(-10px);
}

.blogs .header {
  text-align: center;
  font-weight: 900;
  font-size: 100%;
  margin-bottom: 30px;
}

.blogs .content {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.blogs .content .box {
  width: 31%;
  height: 250px;
}

.blogs .content .box .image-content {
  width: 100%;
  height: 100%;
  border-radius: 17px;
  overflow: hidden;
}

.blogs .content .box .image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s linear;
}

.blogs .content .box .image-content img:hover{
  transform: scale(1.4);
}

.bog-info {
  padding: 20px; 
}

.bog-info ul {
  display: flex;
  margin: 12px 20px;
}

.bog-info ul li {
  margin-inline-end: 10px ;
  background-color: var(--gray-color);
}

.bog-info ul li a {
  color: var(--primary-color);
  padding: 11px 15px;
  transition: all 0.3s linear;
}

.bog-info ul li a:hover {
  color: aqua;
}

.head-data {
  text-align: left;
  color: #000;
}
.head-data h2 {
  margin: 12px;
  color: var(--dark-color) ;
  transition: all 0.4s linear;
}

.head-data span {
  font-size: 19px;
  font-weight: 500;
}

.head-data p {
  margin-top: 15px;
  font-size: 22px;
}

.head-data h2:hover {
  color: var(--primary-color);
  text-decoration: underline;
}